<template>
    <div>
        <section class="section-profile-cover section-shaped mt-0 mb-3">
            <div class="shape shape-style-1 shape-primary alpha-4">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="container shape-container d-flex align-items-center">
                <div class="col px-0">
                    <div class="row justify-content-center align-items-center">
                        <h2 class="text-white font-weight-bold mb-5">
                            <span>Explore</span>
                        </h2>
                    </div>
                </div>
            </div>
        </section>
        <section class="container">
            <modal :show.sync="isDownload">
                <div class="py-3 text-center">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <h4 class="heading mt-4">Downloading your images...</h4>
                </div>
            </modal>
            <modal :show.sync="modalFilter">
                <div>
                <base-input v-model="categories"
                    placeholder="holiday,family trip,beach">
                </base-input>
                </div>
                <template slot="footer">
                    <base-button type="success" @click="closeModalFilter">Save</base-button>
                </template>
            </modal>
            <div class="mb-3 d-flex">
                <base-button outline icon="fa fa-sliders" type="secondary" @click="modalFilter = true">
                Filter
                </base-button>
                <div class="input-group">
                    <input v-model.lazy="searchKeyword" @change="updImageList" class="form-control" placeholder="Search" aria-label="" aria-describedby="basic-addon1">
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="addonRightIcon fa fa-search"></i>
                        </span>
                    </div>
                </div>
                <base-button v-on:click="downloadImage" class="ml-2" icon="fa fa-download" type="primary" :disabled="(imageSelected.length == 0 || isDownload == true) ? true:false">
                Download <span v-if="imageSelected.length > 0">({{ imageSelected.length }})</span>
                </base-button>
            </div>
            <div>
                <div v-if="isFetch == true" class="text-center">
                    <span class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </span>
                </div>
                <div class="row mb-3 text-center">
                    <div v-for="item in imageList" :key="item.id"
                        v-on:click="clickImage(item.fileName)"
                        class="col-4 mb-3">
                        <card :class="imageSelected.indexOf(item.fileName) != -1 ? 'selected-image':''">
                            <template>
                                <img :src="item.url" class="card-img-top">
                                <div class="mt-3">
                                    {{ item.name }}
                                </div>
                                <div>
                                    <badge v-for="category in item.categories" :key="category" type="primary">{{ category }}</badge>
                                </div>
                            </template>
                        </card>
                    </div>
                </div>
            </div>
            <div class="mt-4">
                <base-pagination size="lg" :page-count="1" align="center"></base-pagination>
            </div>
        </section>
    </div>
</template>
<script>
import Modal from "@/components/Modal";

export default {
    data(){
        return {
           tmpImageSelected: [], 
           imageSelected: [],
           imageList: [],
           searchKeyword: "",
           categories: "",
           modalFilter: false,
           isDownload: false,
           isFetch: false
        }
    },
    methods: {
        clickImage(filename) {
            let idx = this.imageSelected.indexOf(filename);
            if (idx == -1) {
                this.imageSelected.push(filename);
            } else {
                this.imageSelected.splice(idx, 1);
            }
        },
        closeModalFilter: function() {
            this.modalFilter = false;
            this.updImageList();
        },
        downloadImage: function() {
            let jsonData = {
                "listOfFileName": this.imageSelected
            };
            let URL = "https://2rmo2bj2j0.execute-api.us-east-1.amazonaws.com/default/compress-function";
            let vm = this;

            this.tmpImageSelected = this.imageSelected;
            this.imageSelected = [];
            this.isDownload = true;

            this.$axios.post(URL, jsonData)
                .then(function(resp){ 
                    const buf = Buffer.from(resp.data, 'base64');
                    const blob = new Blob([buf], { type: 'application/zip' })
                    const url = window.URL.createObjectURL(blob);
                    const link = document.createElement('a');
                    link.href = url;
                    link.setAttribute('download', 'image-sharing.zip'); 
                    document.body.appendChild(link);
                    link.click();

                    vm.tmpImageSelected = [];
                    vm.isDownload = false;
                })
                .catch(function(resp){
                    alert("Something went wrong with download function");
                    vm.imageSelected = vm.tmpImageSelected;
                    vm.isDownload = false;
                });
        },
        updImageList: function() {
            let query = `?keyword=${this.searchKeyword}&&categories=${this.categories}&&sortByDownload=false`;
            let URL = "https://cedlbudoma.execute-api.us-east-1.amazonaws.com/default/search-function";
            let fullURL = URL + query;
            var vm = this;

            this.imageList = [];
            this.isFetch = true;

            this.$axios.get(fullURL)
                .then(function(resp) {
                    vm.imageList = resp.data['Items'];
                    for(let i = 0; i < vm.imageList.length; i++) {
                        vm.imageList[i].categories = vm.imageList[i].categories.split(",");
                    }
                    vm.isFetch = false;
                })
                .catch(function(resp) {
                    alert("Sorry, failed to fetch images list.");
                    vm.isFetch = false;
                });
        }
    },
    mounted: function () {
        this.updImageList();
    },
    components: {
        Modal
    }
};
</script>
<style>
.card-img-top {
    height: 200px;
    object-fit: contain;
}
.selected-image {
    background-color: #5e72e4 !important;
}
.selected-image > div {
    color: white !important;
}
</style>
