<template>
    <div>
        <section class="section-profile-cover section-shaped mt-0 mb-5">
            <div class="shape shape-style-1 shape-primary alpha-4">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="container shape-container d-flex align-items-center">
                <div class="col px-0">
                    <div class="row justify-content-center align-items-center">
                        <h2 class="text-white font-weight-bold mb-5">
                            <span>Upload</span>
                        </h2>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
            <modal :show.sync="isUpload">
                <div class="py-3 text-center">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <h4 class="heading mt-4">Uploading your images...</h4>
                </div>
            </modal>
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <card shadow
                          header-classes="bg-white pb-5"
                          body-classes="px-lg-5 py-lg-4"
                          class="border-0">
                        <template>
                            <form role="form">
                                <base-alert v-if="uploadSuccess == true" :closeHandler="toggleAlert" ref="successAlert" type="success" dismissible>
                                    <span class="alert-inner--icon"><i class="fa fa-thumbs-up"></i></span>
                                    <span class="alert-inner--text"><strong>Success!</strong> Your image successfully uploaded.</span>
                                    <button @click="uploadStatus = null" type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </base-alert>

                                <base-alert v-if="uploadSuccess == false" :closeHandler="toggleAlert" type="danger" dismissible>
                                    <span class="alert-inner--icon"><i class="fa fa-exclamation-triangle"></i></span>
                                    <span class="alert-inner--text"><strong>Failed!</strong> Sorry, something went wrong</span>
                                    <button @click="uploadStatus = null" type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </base-alert>

                                <base-input v-model="imageTitle"
                                            label="Title"
                                            class="mb-3"
                                            placeholder="My Holiday Pictures" required>
                                </base-input>
                                <div class="form-group">
                                    <label for="exampleFormControlFile1">Image *</label>
                                    <input accept="image/*" v-if="resetForm == false" v-on:change="getImageData" type="file" class="form-control-file" id="imageFile" required>
                                </div>
                                <div v-if="imageData.length > 0" class="row justify-content-center py-3">
                                    <div class="col-6">
                                        <img v-bind:src="imageData" alt="Preview image" class="img-fluid rounded shadow"
                                            style="width: 300px;">
                                    </div>
                                </div>
                                <base-input v-model="imageCategories" label="Categories"
                                            class="mb-3"
                                            placeholder="holiday,family trip,beach">
                                </base-input>
                                <div class="text-center">
                                    <base-button v-on:click="uploadImage" type="primary" class="my-4">Send</base-button>
                                </div>
                            </form>
                        </template>
                    </card>
                    <div class="row mt-3">
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import Modal from "@/components/Modal";

export default {
    data: () => {
        return {
            imageTitle: "",
            imageData: "",
            imageCategories: "",
            imageExtension: "",
            uploadSuccess: null,
            resetForm: false,
            isUpload: false
        }
    },
    methods: {
        reset: function() {
            this.imageTitle = "";
            this.imageData = "";
            this.imageCategories = "";
            this.imageExtension = "";

            this.resetForm = true;
            let vm = this;
            this.$nextTick(function(){
                vm.resetForm = false;
            })
        },
        toggleAlert: function(stt){
            if (this.uploadSuccess == null) {
                this.isUpload = false;
                if (stt == "success") {
                    this.reset();
                    this.uploadSuccess = true;
                } else {
                    this.uploadSuccess = false;
                }
            } else {
                this.uploadSuccess = null;
            }

        },
        getImageData: function(event) {
            var files = event.target.files || event.dataTransfer.files;
            if (!files.length) return;
            var file = files[0];
            
            var vm = this;
            var reader = new FileReader();
            
            this.imageExtension = files[0].name.split(".")[1];
            reader.onload = (e) => {
                vm.imageData = e.target.result;
            }
            reader.readAsDataURL(file);
        },
        uploadImage: function(event) {
            var jsonData = {
                "name": this.imageTitle,
                "image": this.imageData.split(";base64,")[1],
                "categories": this.imageCategories,
                "extension": this.imageExtension
            };
            var URL = "https://91q59c9q78.execute-api.us-east-1.amazonaws.com/default/upload-function";
            var vm = this;
            this.isUpload = true;

            this.$axios.post(URL, jsonData)
                .then(function(resp){
                    vm.toggleAlert("success");
                })
                .catch(function(resp){
                    vm.toggleAlert("failed");
                });
        }
    },
    components: {
        Modal
    }
};
</script>
<style>
</style>
